<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계산기 만들기</title>
    <link rel="stylesheet" href="/statics/styles.css">
</head>

<body>
    <main>
        <input type="text" id="display" />

        <div id="simbols">
            <button id="+" onclick="input(' + ')">+</button>
            <button id="-" onclick="input(' - ')">-</button>
            <button id="*" onclick="input(' × ')">×</button>
            <button id="/" onclick="input(' ÷ ')">÷</button>
        </div>

        <div id="numbers">
            <div id="row">
                <button id="1" onclick="input('1')">1</button>
                <button id="2" onclick="input('2')">2</button>
                <button id="3" onclick="input('3')">3</button>
            </div>
            <div id="row">
                <button id="4" onclick="input('4')">4</button>
                <button id="5" onclick="input('5')">5</button>
                <button id="6" onclick="input('6')">6</button>
            </div>
            <div id="row">
                <button id="7" onclick="input('7')">7</button>
                <button id="8" onclick="input('8')">8</button>
                <button id="9" onclick="input('9')">9</button>
            </div>
            <div id="row">
                <button onclick="clearDisplay()">🗑</button>
                <button id="0" onclick="input('0')">0</button>
                <button id="Enter">=</button>
            </div>
        </div>
    </main>
</body>

<script>
    function clearDisplay() {
        document.getElementById('display').value = '';
    }

    function input(input) {
        document.getElementById('display').value += input;
    }

    window.addEventListener("keydown", (e) => {
        console.log(e)

        const numbers = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
        const symbols = ['+', '-', '*', '/']

        const key = document.getElementById(e.key);

        if (key) key.classList.add("pressed");
        if (numbers.includes(e.key)) input(e.key);
        if (numbers.includes(e.key)) {

        }
    });

    window.addEventListener("keyup", (e) => {
        const key = document.getElementById(e.key);
        if (key) key.classList.remove("pressed");
    });
</script>

</html>